In [1]:
import pandas as pd
df = pd.read_csv("data/phase_1_titanic_dataset.csv")

In [2]:
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

#### ğŸ”¹ Numerical Columns (e.g. `age`)

In [3]:
df['age'] = df['age'].fillna(df['age'].median())


#### ğŸ”¹ Categorical Columns (e.g. `embarked`, `embark_town`, `deck`)

In [4]:
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])
df['embark_town'] = df['embark_town'].fillna(df['embark_town'].mode()[0])
# Add 'Unknown' to the category list first
# df['deck'] = df['deck'].cat.add_categories('Unknown')

# Now fill NaNs with 'Unknown'
df['deck'] = df['deck'].fillna('Unknown')

In [5]:
df = df.drop_duplicates()

In [6]:

Q1 = df['fare'].quantile(0.25)
Q3 = df['fare'].quantile(0.75)
IQR = Q3 - Q1

# Filter out outliers
out_1 = Q1 - 1.5*IQR
out_2 = Q3 + 1.5*IQR
df = df[(df['fare'] >= out_1) & (df['fare'] <= out_2)]

In [ ]:

df['survived'] = df['survived'].astype('category')
df['survived']

0      0
1      1
2      1
3      1
4      0
      ..
885    0
887    1
888    0
889    1
890    0
Name: survived, Length: 679, dtype: category
Categories (2, int64): [0, 1]

### export the df for further analyis in next sections

In [12]:
df.to_csv("data/phase_2_titanic_dataset.csv", index=False)